<mat-card>
    <img mat-card-image src="photos/{{fruit.name}}.jpg" width="450" height="300"
        alt="{{fruit.name}} image">
    <mat-card-header>
        <mat-card-title>{{fruit.name}} {{fruit.price | currency: 'EUR' }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>

        <button mat-mini-fab color="secondary" aria-label="Example icon button with a plus one icon"
            (click)="addToCart()">
            <mat-icon>exposure_plus_1</mat-icon>
        </button>

        <button mat-raised-button>{{count}}</button>

        <button mat-mini-fab aria-label="Example icon button with a plus one icon" (click)="reduceFromCart()"
            [disabled]="(count <= 0)">
            <mat-icon>exposure_neg_1</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="deleteFromCart()">Delete</button>

    </mat-card-actions>
</mat-card>